@charset "UTF-8";

#notice table {
	margin: 0 auto; 
	width: 1140px; 
	text-align: center; 
}

#not_title {
	text-align: left; 
	padding-left: 10px; 
}
#page_number {
	width: 1140px; 
	margin: 20px auto 200px auto; 
}

#items_select {
	width: 115px; 
	height: 40px; 
	margin-right: 5px; 
	padding: 0 10px; 
	border: 1px solid #d4d6d6; 
	border-radius: 7px; 
	color: black; 
	font-weight: normal; 
}

#search_input {
	width: 300px; 
	height: 40px; 
	margin-right: 5px; 
	padding: 0 10px; 
	border: 1px solid #d4d6d6; 
	order-radius: 7px; 
	color: black; 
	font-weight: normal; 
}

#earch_btn {
	width: 100px; 
	height: 40px; 
	background: #95a4a6; 
	border: none; 
	border-radius: 7px; 
	color: #ffffff; 
	font-weight: bold; 
	font-size: 15px; 
	cursor: pointer; 
}